@font-face {
  font-family: "neusaNextProWide";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("./neusaNextProWide-300.woff2") format("woff2");
}

@font-face {
  font-family: "neusaNextProWide";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("./neusaNextProWide-400.woff2") format("woff2");
}

@font-face {
  font-family: "neusaNextProWide";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("./neusaNextProWide-500.woff2") format("woff2");
}

@font-face {
  font-family: "neusaNextProWide";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("./neusaNextProWide-700.woff2") format("woff2");
}

@font-face {
  font-family: "neusaNextProWide";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url("./neusaNextProWide-400i.woff2") format("woff2");
}

@font-face {
  font-family: "neusaNextProWide";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("./neusaNextProWide-700i.woff2") format("woff2");
}

@font-face {
  font-family: "proximaNova";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("./proximaNova-400.woff2") format("woff2");
}

@font-face {
  font-family: "proximaNova";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("./proximaNova-500.woff2") format("woff2");
}

@font-face {
  font-family: "proximaNova";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("./proximaNova-600.woff2") format("woff2");
}

@font-face {
  font-family: "proximaNova";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("./proximaNova-700.woff2") format("woff2");
}
